<a id="ajudawhats" href="https://api.whatsapp.com/send/?phone=556199656-5008&text=Eu+preciso+de+ajuda&app_absent=0">Disk Denuncia (whatsapp)</a>


<h2 class="titulo">Aqui você encontra todo ajuda para os casos de violência contra a mulher</h2>

<img id = "imagem" src="https://www.gov.br/pt-br/noticias/assistencia-social/2020/02/ministerio-preve-criacao-de-25-novas-unidades-da-casa-da-mulher-brasileira-em-2020/casa-da-mulher-brasileira-2.jpeg" alt="">


<p class="paragrafo">Violência contra a mulher é crime e não pode passar em vão. Não se sinta envergonhada, você não está sozinha e pode pedir ajuda. Ligue 180 e faça agora sua denúncia. E não precisa ser a vítima, se você conhece alguma mulher nessa situação, também pode fazer a sua parte. Com a ajuda de todos, podemos fazer um Brasil mais seguro para todas as mulheres!</p>

<h2 >Você pode contar conosco!</h2>

<span routerLink="/depoimentos">Conheça depoimentos de mulheres que denunciaram a violência e mudaram sua história.</span>


