<div
  style="background-color: blueviolet;
  display: flex;
  justify-content: center;
">
<h1 style="color: #fff;
font-family: Arial, Helvetica, sans-serif;
">
 Veja seus direitos </h1>
</div>
<h4 style="font-family: Arial, Helvetica, sans-serif;">Certifique-se de que está vivendo em sociedade sem passar por algo que não deveria,</h4>
<h4 style="font-family: Arial, Helvetica, sans-serif;">seja isso um problema dentro de casa,</h4>
<h4 style="font-family: Arial, Helvetica, sans-serif;">ou até mesmo assédio sexual no trabalho.</h4>
<br>
<hr>
<h3 style="font-family: Arial, Helvetica, sans-serif;">Veja algumas leis que podem ajudar a manter seus direitos:</h3>

<a href="https://legislacao.presidencia.gov.br/atos/?tipo=LEI&numero=11340&ano=2006&ato=4b0gXTU5kMRpWT5c7"> - Lei Maria da Penha</a>
<br>
<a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2006/Lei/L11340.htm#:~:text=LEI%20N%C2%BA%2011.340%2C%20DE,7%20DE%20AGOSTO%20DE%202006"> - Lei de violência domestica contra a mulher</a>
<br>
<a href="http://www.planalto.gov.br/ccivil_03/Leis/LEIS_2001/L10224.htm"> - Assédio sexual no trabalho</a>


