<div
  style="background-color: #3f51b5;
  display: flex;
  justify-content: center;
">
<h1 style="color: #fff;
font-family: Arial, Helvetica, sans-serif;
">
 Veja seus direitos </h1>
</div>
<div class="vejadir">
  <h4 style="font-family: Arial, Helvetica, sans-serif;">
    Certifique-se de que está vivendo em sociedade sem passar por algo que não deveria, <br>
    seja isso um problema dentro de casa, <br>
    ou até mesmo assédio sexual no trabalho.</h4>
  <br>
  <hr>
</div>

<h3 style="font-family: Arial, Helvetica, sans-serif;"><b>Veja algumas leis que podem ajudar a manter seus direitos:</b></h3>


<a  target="_blank" href= {{apiLeis[0]?.site}} > {{apiLeis[0]?.nome}} </a>
<br><p > {{apiLeis[0]?.descricao}} </p><p > {{apiLeis[0]?.data}} </p>
<br>
<a target="_blank" href= {{apiLeis[1]?.site}} > {{apiLeis[1]?.nome}} </a>
<br><p > {{apiLeis[1]?.descricao}} </p><p > {{apiLeis[1]?.data}} </p>
<br>
<a target="_blank" href= {{apiLeis[2]?.site}} > {{apiLeis[2]?.nome}} </a>
<br><p > {{apiLeis[2]?.descricao}} </p><p > {{apiLeis[2]?.data}} </p>
<br>
<a target="_blank" href= {{apiLeis[3]?.site}} > {{apiLeis[3]?.nome}} </a>
<br><p > {{apiLeis[3]?.descricao}} </p><p > {{apiLeis[3]?.data}} </p>
<br>
<a target="_blank" href= {{apiLeis[4]?.site}} > {{apiLeis[4]?.nome}} </a>
<br><p > {{apiLeis[4]?.descricao}} </p><p > {{apiLeis[4]?.data}} </p>
<br>

