<div
  style="background-color: #3f51b5;
  display: flex;
  justify-content: center;
">
<h1 style="color: #fff;
font-family: Arial, Helvetica, sans-serif;
">
 Instituições de ajuda ao combate da violência contra a mulher </h1>
</div>
<h4 style="font-family: Arial, Helvetica, sans-serif;">Lembre-se, procurar por ajuda não é sinal de fraqueza,<br> é algo que te assegura e pode inclusive <br> salvar a sua vida.</h4>
<h4 style="font-family: Arial, Helvetica, sans-serif;"></h4>
<h4 style="font-family: Arial, Helvetica, sans-serif;"></h4>
<br>
<hr>
<h3 style="font-family: Arial, Helvetica, sans-serif;">Veja algumas instituições que podem acolher e auxiliar na hora de combater a violência:</h3>


<div *ngFor="let item of instituicoes">
  <mat-card >
    <div class="name">
    <span>{{item?.nome}}</span>

    </div>

    <img [src]="item?.imagem"/>
  <div class="info">
    <span class="price">{{item?.descricao }}</span>
  </div>
  <div class="site">
    <a [href]="item?.site">Link</a>
  </div>

  </mat-card>

</div>


