<div
  style="background-color: #3f51b5;
  display: flex;
  justify-content: center;
">
<h1 style="color: #fff;
font-family: Arial, Helvetica, sans-serif;
">
 Depoimentos</h1>
</div>

<app-depoimento-card *ngFor="let item of listaDepoimentos" [depoimento]="item"></app-depoimento-card>
<section>
  <h2>Adicionar depoimento</h2>
  <div>
    <input type="text" [(ngModel)]="newDepoimento.nome" placeholder="Nome (Não coloque se quiser anonimato)" />
  </div>
  <div>
    <input type="text" [(ngModel)]="newDepoimento.cidade" placeholder="Cidade" />
  </div>
  <div>
    <input type="text" [(ngModel)]="newDepoimento.estado" placeholder="Estado" />
  </div>
  <div>
    <textarea [(ngModel)]="newDepoimento.texto" placeholder="Texto do depoimento"></textarea>
  </div>
  <button class="share" (click)="adicionarDepoimento(newDepoimento.texto, newDepoimento.nome, newDepoimento.cidade, newDepoimento.estado)">Adicionar</button>
</section>
